<!DOCTYPE html>
<html>
    <head>
        <title>Log.d Documentation Page</title>
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/normalize.css@8.0.1/normalize.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <header class="row">
                <h1>About Project Log.d</h1>
            </header>
            <section class="row">
                <nav class="col">
                    <ul class="list-unstyled">
                        <li><a href="" class="btn btn-secondary">About Project Log.d</a></li>
                        <li><a href="/logd/download/logd.zip" target="_blank" class="btn btn-success">Download</a></li>
                        <li></li>
                    </ul>
                </nav>
                <main class="col">
                    <p>Log.d is a highly-configurable, general-purpose key-logging library designed to gather mouse and keyboard inputs from a large number of users. It is planned to work seamlessly within a microservice architecture, ensuring compatibility with servers written in any language by working with the REST API.</p>
                    <p>The library has two main parts:</p>
                    <ol>
                        <li>A frontend-facing keyboard and mouse tracker; and</li>
                        <li>A backend helper receiver</li>
                    </ol>
                        
                    <p>The receiver works similarly to Ruby helper methods. While it is possible to parse information from the tracker without the helper, the helper makes it so you won't need to write and rewrite functions to avoid repetitive code.</p>
                </main>
            </section>
        </div>
        <script src="/log-d.js">
            // Returns error: Uncaught (in promise) TypeError: NetworkError when attempting to fetch resource.
            // Probable fix: Deploy this with that CDN thing. I think that should work.
        </script>
    </body>
</html>