<!DOCTYPE html>
<html>
    <head>
        <title>Log.d Project Dashboard</title>
    </head>
    <body>
        <h1>Hello World!</h1>
        <p>Log.d Project Dashboard is under construction.</p>
    </body>
</html>