<!DOCTYPE html>
<html>
    <head>
        <title>Log.d Project Dashboard</title>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
        <script type="module"></script>
    </head>
    <body>
        <h1>Log.d Project Dashboard</h1>
        <p>There's not much to see here yet.</p>
        <p id="viewer"></p>
        <script>
            const socket = io();
            socket.on("logd", (data) => {
                document.querySelector("#viewer").innerHTML = data;
            })
        </script>
    </body>
</html>