<!DOCTYPE html>
<html>
    <head>
        <title>Log.d Documentation Page - About</title>
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/normalize.css@8.0.1/normalize.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <header class="row">
                <h1>About Project Log.d</h1>
            </header>
            <section class="row">
                <nav class="col">
                    <ul class="list-unstyled">
                        <li><a href="/" class="btn btn-secondary w-75">About Project Log.d</a></li>
                        <li><a href="/logd/download/logd.zip" target="_blank" class="btn btn-success w-75">Download</a></li>
                        <li><h3>Documentation</h3></li>
                        <li><a href="" class="btn btn-primary w-75">Data Transfer Mechanism</a></li>
                        <li><a href="" class="btn btn-primary w-75">Schema</a></li>
                        <li><a href="" class="btn btn-primary w-75">Notes on Schema</a></li>
                        <li><a href="" class="btn btn-primary w-75">API</a></li>
                        <li><a href="" class="btn btn-primary w-75">Project Architecture</a></li>
                        <li><a href="https://github.com/Frostzeichen/project-log-d" class="btn btn-primary w-75">GitHub Repository</a></li>
                        <li><a href="http://localhost:3001" class="btn btn-dark w-75">Project Dashboard Server</a></li>
                    </ul>
                </nav>
                <main class="col">
                    <h2>What is Log.d?</h2>
                    <p>Log.d is a highly-configurable, general-purpose key-logging library designed to gather mouse and keyboard inputs from a large number of users. It is planned to work seamlessly within a microservice architecture, ensuring compatibility with servers written in any language by working with the REST API.</p>
                    <p>The library has two main parts:</p>
                    <ol>
                        <li>A frontend-facing keyboard and mouse tracker; and</li>
                        <li>A backend helper receiver</li>
                    </ol>
                    <p>The receiver works similarly to Ruby helper methods. While it is possible to parse information from the tracker without the helper, the helper makes it so you won't need to write and rewrite functions to avoid repetitive code.</p>
                    <h2>History of Log.d</h2>
                    <p>Log.d started out as Terenz's capstone project for <a href="https://village88.com/">Village 88</a>.</p>
                    <p>The idea came from Michael Choi, and the original prompt looked a bit like this:</p>
                    <p>Build a javascript library that others can use or chrome extension, which records all the keyboard strokes as well as mouse movements from the users. On your project dashboard, show video replay of what users did on the website (for those that had this javascript library). You can also show all the websites that are using your javascript library and show the current number of active users on each of the site. Use D3js and other charts to make your project dashboard look super impressive (where it shows where the user put their mouse, where they clicked, etc). You could also have something where it displays the heatmap of where people clicked, dwelled, etc.</p>
                </main>
            </section>
        </div>
        <script src="/logd.js">
            // Returns error: Uncaught (in promise) TypeError: NetworkError when attempting to fetch resource.
            // Probable fix: Deploy this with that CDN thing. I think that should work.
        </script>
    </body>
</html>